[submodule "Notebooks"]
	path = Notebooks
	url = https://github.com/ThomasDelatte/Notebooks.git
[submodule "Baudelaire-Poem-Generator"]
	path = Baudelaire-Poem-Generator
	url = https://github.com/ThomasDelatte/Baudelaire-Poem-Generator.git
[submodule "gpt2-eu-acts"]
	path = gpt2-eu-acts
	url = https://github.com/ThomasDelatte/gpt2-eu-acts.git
[submodule "clustering-ethereum-addresses"]
	path = clustering-ethereum-addresses
	url = https://github.com/ThomasDelatte/ethereum-analytics.git
